*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.header, .footer{
    background-color: #0000FF;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 25px;
    font-weight: 700;

    padding: 35px 30px;
    width: 100%; 
}

.section{
    width: 100%;
    border: 5px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 165px;
    margin-right: 22px;
    margin-left: 22px;
    margin-top: 22px;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-between;

    margin-top: 22px;
}

/*Макет для дивайсев шире, чем iPhone 12 pro*/
@media only screen and (min-width: 391px) {
    .section{
     width: 38%;
    }   
 }