*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.header{
    background-color: #E5E000;
    color: #fff;
    font-weight: 700px;
    font-family: 'Helvetica';
    font-size: 50px;
    padding: 80px 80px;
}

.img{
    height: 1080px;
    background-image: url(images/img.png);
    background-size: cover;
   
}
.homework{
    padding: 36px 80px;
    background-color: #E5E000;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 25px;
}

.main{
    height: 747px;
    margin-top: 110px;
    margin-left: 80px;
}

.text1{
    width: 1280px;
    font-family: 'Helvetica';
    font-size: 50px;
    margin-bottom: 57.5px;
    font-weight: 300;
}

.text2{
    width: 1280px;
    font-family: 'Helvetica';
    font-size: 50px;
    font-weight: 300;
}

.name{
    color: #fff;
    font-size: 50px;
    margin-right: 80px;
    font-family: 'Helvetica';
}

.logo{
    margin-left: 80px;
}

.footer{
    display: flex;
    height: 200px;
    background-color: #E5E000;
    justify-content: space-between;
    align-items: center;
}